local_fronius_call_all_components_values.json
[{"id":"68dded10.399d4c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"response-node","type":"debug","z":"68dded10.399d4c","name":"API Response","active":true,"complete":"true","x":620,"y":440,"wires":[]},{"id":"e3f5cd09.022ea","type":"inject","z":"68dded10.399d4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["2182325b.ed664e"]]},{"id":"2182325b.ed664e","type":"http request","z":"68dded10.399d4c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.115/components/readable","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":360,"wires":[["41ad8d2f.d40d3c"]]},{"id":"41ad8d2f.d40d3c","type":"json","z":"68dded10.399d4c","name":"","property":"payload","action":"","pretty":false,"x":400,"y":400,"wires":[["response-node"]]}]