muc_smartme.json
[{"id":"77bad013.8da55","type":"tab","label":"Zaehler","disabled":false,"info":""},{"id":"cb904b06.4c3028","type":"http in","z":"77bad013.8da55","name":"Zaehler","url":"/zaehler","method":"post","upload":true,"swaggerDoc":"","x":90,"y":100,"wires":[["e4a0c410.b0494","f9d5a6d.ae8f258","46623e17.24d92","441b1883.550828","d3a90b8a.f7a34"]]},{"id":"13d2c9e6.a3ef8e","type":"template","z":"77bad013.8da55","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World</h1>\n        {{ payload }}\n    </body>\n</html>","x":430,"y":260,"wires":[["eea7f028.bc72c8"]]},{"id":"eea7f028.bc72c8","type":"http response","z":"77bad013.8da55","name":"","statusCode":"","headers":{},"x":570,"y":260,"wires":[]},{"id":"e4a0c410.b0494","type":"json","z":"77bad013.8da55","name":"","property":"payload","action":"","pretty":true,"x":330,"y":180,"wires":[["13d2c9e6.a3ef8e"]]},{"id":"b729bd72.2462c8","type":"debug","z":"77bad013.8da55","name":"all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"f9d5a6d.ae8f258","type":"function","z":"77bad013.8da55","name":"Wasser","func":"let meters = msg.payload.muc.meter;\n\nlet wz = 0;\n\nif (Array.isArray(meters) && meters.length > 0) {\n    let wasserz = meters.find(m => m.METER_ID === \"70330893\");\n    \n    if (wasserz && typeof wasserz === \"object\") {\n        node.status({fill:\"green\", shape:\"dot\", text:\"Found\"});\n        //node.warn(wasserz);   // shows in debug tab\n        let volume = wasserz.data.find(d => d.DESCRIPTION === \"Volume\");  \n        wz = volume.entry[0].VAL / 1000;\n        msg.payload = wz;\n        return msg;\n    \n    } else {\n        node.status({fill:\"red\", shape:\"dot\", text:\"Not found\"});\n        return null; // stop the flow\n    }\n} else {\n    node.status({fill:\"red\", shape:\"dot\", text:\"Not found\"});\n    return null; // stop the flow\n}\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":380,"wires":[["3f150cad.e57644"]]},{"id":"46623e17.24d92","type":"function","z":"77bad013.8da55","name":"Mietwohnung","func":"let meters = msg.payload.muc.meter;\nlet result = [];\n\nmeters.forEach(meter => {\n    if (meter.METER_ID === \"21041069\") {\n        meter.data.forEach(dataEntry => {\n            if (dataEntry.DESCRIPTION === \"Energy\") {\n                dataEntry.entry.forEach(entry => {\n                    result.push(entry.VAL);\n                });\n            }\n        });\n        node.status({fill:\"green\", shape:\"dot\", text:\"Found\"});\n    }\n});\n\nif (result.length == 0) {\n    \n    node.status({fill:\"red\", shape:\"dot\", text:\"Not Found\"});\n    return null;\n}\n\n\n\n\n\n\n\n\nmsg.payload = result;\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":500,"wires":[["3284d2ae.220116"]]},{"id":"93bbfee0.5b076","type":"debug","z":"77bad013.8da55","name":"Mietwohnung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":500,"wires":[]},{"id":"441b1883.550828","type":"function","z":"77bad013.8da55","name":"Allgemein ","func":"let meters = msg.payload.muc.meter;\nlet result = [];\n\nmeters.forEach(meter => {\n    if (meter.METER_ID === \"23021066\") {\n        meter.data.forEach(dataEntry => {\n            if (dataEntry.DESCRIPTION === \"Energy\") {\n                dataEntry.entry.forEach(entry => {\n                    result.push(entry.VAL);\n                });\n            }\n        });\n        node.status({fill:\"green\", shape:\"dot\", text:\"Found\"});\n    }\n});\n\nif (result.length == 0) {\n    \n    node.status({fill:\"red\", shape:\"dot\", text:\"Not Found\"});\n    return null;\n}\n\nmsg.payload = result;\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":640,"wires":[["dd2bd705.86624"]]},{"id":"a09e9316.46af48","type":"debug","z":"77bad013.8da55","name":"Allgemein Strom","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":640,"wires":[]},{"id":"d3a90b8a.f7a34","type":"function","z":"77bad013.8da55","name":"Einlieger","func":"let meters = msg.payload.muc.meter;\nlet result = [];\n\nmeters.forEach(meter => {\n    if (meter.METER_ID === \"22011864\") {\n        meter.data.forEach(dataEntry => {\n            if (dataEntry.DESCRIPTION === \"Energy\") {\n                dataEntry.entry.forEach(entry => {\n                    result.push(entry.VAL);\n                });\n            }\n        });\n        node.status({fill:\"green\", shape:\"dot\", text:\"Found\"});\n    }\n});\n\nif (result.length == 0) {\n    \n    node.status({fill:\"red\", shape:\"dot\", text:\"Not Found\"});\n    return null;\n}\n\nmsg.payload = result;\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":780,"wires":[["1a906dd.5d95c12","25524cf5.5c65f4"]]},{"id":"2f0ff5db.bd559a","type":"debug","z":"77bad013.8da55","name":"Einlieger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":780,"wires":[]},{"id":"3f150cad.e57644","type":"function","z":"77bad013.8da55","name":"Smart-me ","func":"let reading = msg.payload;  \n\nmsg.payload = {\n    Id: \"82b5c491-ceae-4797-8f74-f7b8d407d578\",\n    counterReading: reading,             // dynamisch aus msg.payload\n    valueDate: new Date().toISOString(), // dynamisch aktuelles Datum/Zeit\n    name: \"Kaltwasser\",\n    serial: 70330893,\n    deviceEnergyType: 2,\n    meterSubType: 1\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":380,"wires":[["66a5604f.1be108"]]},{"id":"6822961c.47ae68","type":"debug","z":"77bad013.8da55","name":"Kaltwasser","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":380,"wires":[]},{"id":"47cd412c.ceb63","type":"inject","z":"77bad013.8da55","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"249.429","payloadType":"num","x":270,"y":440,"wires":[[]]},{"id":"66a5604f.1be108","type":"http request","z":"77bad013.8da55","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.smart-me.com/Devices","tls":"","persist":true,"proxy":"","authType":"basic","x":650,"y":380,"wires":[["6822961c.47ae68"]]},{"id":"3284d2ae.220116","type":"function","z":"77bad013.8da55","name":"Smart-me","func":"\nlet arr = msg.payload;\nlet T1 = arr[0];\nlet T2 = arr[1];\n\nmsg.payload = {\n    \n        Id: \"8a5d1aa1-abb2-4b6b-bf6e-d01393591429\",\n        counterReadingT1 : T1/1000,\n        counterReadingT2 : T2/1000,\n        valueDate : new Date().toISOString(),\n        name : \"Mietwohnung\",\n        serial : 21041069,\n        deviceEnergyType : 1,\n        meterSubType : 4\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":500,"wires":[["392887e7.1aa4a"]]},{"id":"92f3e081.bb64b","type":"inject","z":"77bad013.8da55","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"5119302\",\"5642889\"]","payloadType":"json","x":300,"y":560,"wires":[[]]},{"id":"392887e7.1aa4a","type":"http request","z":"77bad013.8da55","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.smart-me.com/Devices","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":500,"wires":[["93bbfee0.5b076"]]},{"id":"dd2bd705.86624","type":"function","z":"77bad013.8da55","name":"Smart-me","func":"\nlet arr = msg.payload;\nlet T1 = arr[0];\nlet T2 = arr[1];\n\nmsg.payload = {\n    \n        Id: \"78a96e19-1ae0-4bb6-b17b-16c3270aefc4\",\n        counterReadingT1 : T1/1000,\n        counterReadingT2 : T2/1000,\n        valueDate : new Date().toISOString(),\n        name : \"Allgemein\",\n        serial : 23021066,\n        deviceEnergyType : 1,\n        meterSubType : 4\n    }\n    \nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":640,"wires":[["50851dcb.3c38fc"]]},{"id":"50851dcb.3c38fc","type":"http request","z":"77bad013.8da55","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.smart-me.com/Devices","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":640,"wires":[["a09e9316.46af48"]]},{"id":"1a906dd.5d95c12","type":"function","z":"77bad013.8da55","name":"Smart-me","func":"\nlet arr = msg.payload;\nlet T1 = arr[0];\nlet T2 = arr[1];\n\nmsg.payload = {\n    \n        Id: \"77081324-5ee2-4d4d-933a-40d4775b00c2\",\n        counterReadingT1 : T1/1000,\n        counterReadingT2 : T2/1000,\n        valueDate : new Date().toISOString(),\n        name : \"Einlieger\",\n        serial : 22011864,\n        deviceEnergyType : 1,\n        meterSubType : 4\n    }\n    \nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":780,"wires":[["c82c93de.570058","8cf18103.f656f8"]]},{"id":"c82c93de.570058","type":"http request","z":"77bad013.8da55","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.smart-me.com/Devices","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":780,"wires":[["2f0ff5db.bd559a"]]},{"id":"25524cf5.5c65f4","type":"debug","z":"77bad013.8da55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":840,"wires":[]},{"id":"8cf18103.f656f8","type":"debug","z":"77bad013.8da55","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":840,"wires":[]}]