nodered-tronity.json
[{"id":"3f3f5aae.72acee","type":"tab","label":"Tronity","disabled":false,"info":""},{"id":"e1264f92.4b7f4","type":"debug","z":"3f3f5aae.72acee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"7d530788.01291","type":"http request","z":"3f3f5aae.72acee","name":"","method":"POST","ret":"obj","paytoqs":"query","url":"https://api.tronity.tech/authentication","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":180,"wires":[["1cc29f2a.b43be1"]]},{"id":"b34d9e97.3816a","type":"inject","z":"3f3f5aae.72acee","name":"15 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"900","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["18f329a5.5f6e7e"]]},{"id":"18f329a5.5f6e7e","type":"change","z":"3f3f5aae.72acee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"client_id\":\"0aff5443-bbc7-4c42-bba8-8d550e245964\",\"client_secret\":\"f7cfc6c6-6c27-4b89-b501-834615cf28dd\",\"grant_type\":\"app\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":240,"wires":[["7d530788.01291"]]},{"id":"ced764e7.359328","type":"comment","z":"3f3f5aae.72acee","name":"Get car info","info":"","x":130,"y":260,"wires":[]},{"id":"d6859fce.3159","type":"comment","z":"3f3f5aae.72acee","name":"Get new token every 15 minutes","info":"","x":190,"y":140,"wires":[]},{"id":"1cc29f2a.b43be1","type":"change","z":"3f3f5aae.72acee","name":"Bearer","rules":[{"t":"set","p":"tronitybearer","pt":"flow","to":"payload.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[[]]},{"id":"c41b108d.772ae","type":"function","z":"3f3f5aae.72acee","name":"set headers with JWT Bearer Token","func":"let token = flow.get('tronitybearer');\n\nmsg.headers = {\n    'Authorization': 'Bearer ' + token\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["a073dbd8.042fb"]]},{"id":"64090349.cc9f3c","type":"inject","z":"3f3f5aae.72acee","name":"3 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":300,"wires":[["c41b108d.772ae"]]},{"id":"a6e605ae.1e255","type":"change","z":"3f3f5aae.72acee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.level","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":480,"wires":[["82cd1c8a.ac5c5"]]},{"id":"82cd1c8a.ac5c5","type":"debug","z":"3f3f5aae.72acee","name":"SOC","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"soc","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"5009da1b.247ab4","type":"change","z":"3f3f5aae.72acee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.charging","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":520,"wires":[["da987961.161518"]]},{"id":"da987961.161518","type":"debug","z":"3f3f5aae.72acee","name":"Ladestatus","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"soc","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"c82a10b6.b67cc","type":"comment","z":"3f3f5aae.72acee","name":"Info (click me)","info":"1) Login here: https://app.platform.tronity.io/\n(same credentials as in the app)\n\n2) Open the existing app. Needed are 3 things:\n- ClientId: 0aff5443-bbc7-4c42-bba8-8d550e245964\n- ClientSecret: (regenerate a new one to show it)\n- f7cfc6c6-6c27-4b89-b501-834615cf28dd\n- Number of your car: 6898aa0c72519000127b0354\n\n3) Enter ID and password in the payload from token\n4) Enter the number of your car in http-request","x":130,"y":60,"wires":[]},{"id":"a073dbd8.042fb","type":"http request","z":"3f3f5aae.72acee","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.tronity.tech/tronity/vehicles/6898aa0c72519000127b0354/last_record","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":420,"wires":[["5009da1b.247ab4","a6e605ae.1e255","c5b32366.545dd8"]]},{"id":"c5b32366.545dd8","type":"change","z":"3f3f5aae.72acee","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.range","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["3f1f163d.01a01a"]]},{"id":"3f1f163d.01a01a","type":"debug","z":"3f3f5aae.72acee","name":"Range","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"soc","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"370cef66.b9ce2","type":"comment","z":"3f3f5aae.72acee","name":"Smart #1 Status","info":"","x":840,"y":360,"wires":[]}]