soc_fronius_smartme_relais.json
[{"id":"3687897a.a0f2e6","type":"tab","label":"Fronius","disabled":false,"info":""},{"id":"19afb7d0.a5ce68","type":"inject","z":"3687897a.a0f2e6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"840","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["46324a41.3fde0c"]]},{"id":"46324a41.3fde0c","type":"http request","z":"3687897a.a0f2e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.115/solar_api/v1/GetPowerFlowRealtimeData.fcgi","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":260,"wires":[["dd6f1009.6edd2"]]},{"id":"dd6f1009.6edd2","type":"function","z":"3687897a.a0f2e6","name":"","func":"msg.payload = msg.payload.Body.Data.Inverters[\"1\"].SOC\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["5cfc217d.be98e"]]},{"id":"1d36eefb.faf4f1","type":"inject","z":"3687897a.a0f2e6","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceID\":\"cef0c5bc-b6c5-f8f4-b893-1508c805ef26\",\"actions\":[{\"obisCode\":\"63000C0101FF\",\"value\":1}]}","payloadType":"json","x":110,"y":540,"wires":[["55d8fe7b.8707d8"]]},{"id":"55d8fe7b.8707d8","type":"http request","z":"3687897a.a0f2e6","name":"POST to Smart-Me","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.smart-me.com/api/actions","tls":"","persist":true,"proxy":"","authType":"basic","x":370,"y":540,"wires":[["b916a1bb.236088"]]},{"id":"b916a1bb.236088","type":"debug","z":"3687897a.a0f2e6","name":"API Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":540,"wires":[]},{"id":"9fd91331.cb004","type":"inject","z":"3687897a.a0f2e6","name":"Off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"deviceID\":\"cef0c5bc-b6c5-f8f4-b893-1508c805ef26\",\"actions\":[{\"obisCode\":\"63000C0101FF\",\"value\":0}]}","payloadType":"json","x":130,"y":700,"wires":[["55d8fe7b.8707d8"]]},{"id":"5cfc217d.be98e","type":"switch","z":"3687897a.a0f2e6","name":"Logik 27% Batteriegrenze","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"27","vt":"str"},{"t":"gt","v":"27","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":380,"wires":[["f45105ad.f8a28"],["7d54b663.32a09"]]},{"id":"f45105ad.f8a28","type":"function","z":"3687897a.a0f2e6","name":"","func":"msg.payload = {\n    deviceID: \"cef0c5bc-b6c5-f8f4-b893-1508c805ef26\",\n    actions: [\n        {\n            obisCode: \"63000C0101FF\",\n            value: 1\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":400,"wires":[["55d8fe7b.8707d8","557625d1.c388bc"]]},{"id":"7d54b663.32a09","type":"function","z":"3687897a.a0f2e6","name":"","func":"msg.payload = {\n    deviceID: \"cef0c5bc-b6c5-f8f4-b893-1508c805ef26\",\n    actions: [\n        {\n            obisCode: \"63000C0101FF\",\n            value: 0\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["55d8fe7b.8707d8","e66df077.819488"]]},{"id":"557625d1.c388bc","type":"debug","z":"3687897a.a0f2e6","name":"true","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":380,"wires":[]},{"id":"e66df077.819488","type":"debug","z":"3687897a.a0f2e6","name":"false","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":480,"wires":[]}]